/* Global */
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
}

section {
  padding: 40px 0;
}

.button {
  background-color: #008913;
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: 28px;
  font-weight: 600;
  border-radius: 33px 33px 33px 33px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  display: flex;
  margin: auto;
}
@media (max-width: 767px) {
  .button {
    font-size: 18px;
    padding: 12px 24px;
  }
}

/* Section Hero */
.section-hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section-hero__title {
  font-family: "ADLaM Display", Sans-serif;
  font-size: 56px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .section-hero__title {
    font-size: 41px;
  }
}
@media (max-width: 767px) {
  .section-hero__title {
    font-size: 24px;
  }
}

.section-hero__subtitle {
  font-family: "Titillium Web", sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #25002B;
}
@media (max-width: 1024px) {
  .section-hero__subtitle {
    font-size: 41px;
  }
}
@media (max-width: 767px) {
  .section-hero__subtitle {
    font-size: 22px;
  }
}

.section-hero__image {
  max-height: 380px;
  border-radius: 12px;
  width: fit-content;
  max-width: 100%;
}

.section-hero__safe-purchase {
  max-width: 280px;
  width: 70%;
  margin: 8px 0;
}

/* Section Book */
.section-books {
  padding-top: 0;
}

.section-books__content {
  display: flex;
  flex-wrap: wrap;
}

.section-books__image {
  width: 50%;
}

/* Section Creative Moments */
.section-creative-moments__content {
  display: grid;
  text-align: center;
  gap: 24px;
}

.section-creative-moments__image, .section-creative-moments .button {
  margin: auto;
  width: fit-content;
  max-width: 100%;
}

.section-creative-moments__title {
  font-family: "ADLaM Display", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  color: #25002B;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .section-creative-moments__title {
    font-size: 22px;
  }
}

/* Section Coloring Benefits */
.section-coloring-benefits__content {
  display: grid;
  text-align: center;
  gap: 24px;
}

.section-coloring-benefits__title {
  font-family: "ADLaM Display", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  color: #25002B;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .section-coloring-benefits__title {
    font-size: 22px;
  }
}

.section-coloring-benefits__list {
  display: grid;
  gap: 20px;
}

.section-coloring-benefits__list li {
  text-align: start;
  font-size: 33px;
  color: #4E005A;
  font-family: "Titillium Web", sans-serif;
}
@media (max-width: 767px) {
  .section-coloring-benefits__list li {
    font-size: 22px;
  }
}

/* section Self Care */
.section-self-care__content {
  display: grid;
  text-align: center;
  gap: 24px;
}

.section-self-care__title {
  font-family: "ADLaM Display", Sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #25002B;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .section-self-care__title {
    font-size: 24px;
  }
}

.section-self-care__text {
  text-align: center;
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  color: #4E005A;
  text-transform: lowercase;
}
@media (max-width: 767px) {
  .section-self-care__text {
    font-size: 21px;
  }
}

.section-self-care__image, .section-self-care__image2{
  margin: 16px auto;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.section-self-care__image2 {
  max-width: 600px;
}

/*  */
.section-offers__content {
  display: grid;
  text-align: center;
  gap: 24px;
}

.section-offers__title {
  font-family: "ADLaM Display", Sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #25002B;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .section-offers__title {
    font-size: 24px;
  }
}

/* Section Offers */
.section-offers__cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.card {
  background: linear-gradient(to bottom right, #f7f7f7, #ffffff);
  border-radius: 20px;
  padding: 32px;
  margin: 32px 0 12px;
  max-width: 400px;
  height: fit-content;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 0;
}

.card::before {
  width: 100px;
  height: 100px;
  background: #ffce00;
  top: 20%;
  left: -30px;
}

.card::after {
  width: 80px;
  height: 80px;
  background: #ff6b6b;
  bottom: -20px;
  right: -20px;
}

.card__decorate {
  position: absolute;
  opacity: 0.3;
  width: 100px;
  top: -16px;
  height: 100px;
  right: -40px;
}

.card__wrapper-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "ADLaM Display", Sans-serif;
  background: #b3ddff;
  padding: 0.3rem 1rem;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 16px;
  position: relative;
}
@media (max-width: 767px) {
  .card__wrapper-title {
    font-size: 1.7rem;
  }
}

.card ul {
  padding: 0;
  margin-bottom: 1.5rem;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: circle;
}

.card ul li {
  font-size: 1rem;
  font-weight: 900;
}

.card img {
  width: 100%;
}

.preco-antigo {
  text-align: center;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  z-index: 1;
  position: relative;
}

.preco-antigo span {
  text-decoration: line-through;
  margin-right: 0.4rem;
}

.preco-atual {
  background: #fff;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  color: #006400;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  z-index: 1;
  position: relative;
}

.moeda {
  font-size: 1rem;
  vertical-align: super;
}

/* Footer */
.footer {
  padding: 56px 0;
  background: #4C4F53;
  color: #ffffff;
  display: grid;
  justify-content: center;
  gap: 64px;
}

.footer__image {
  max-width: 240px;
  width: 100%;
  margin: auto;
}

.footer__faq {
  max-width: 400px;
  margin: auto;
  padding: 0;
}

.footer__faq__title {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2rem;
  font-family: "ADLaM Display", Sans-serif;
}
@media (max-width: 1024px) {
  .footer__faq__title {
    font-size: 41px;
  }
}
/* @media (max-width: 767px) {
  .footer__faq__title {
    font-size: 24px;
  }
} */

.footer__faq__item {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #666;
  padding-bottom: 1rem;
  font-family: "Titillium Web", sans-serif;
}

.footer__faq__question {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.footer__faq__question--highlight {
  color: #ff5a5f;
}

.footer__faq__answer {
  font-size: 1rem;
  line-height: 1.5;
}